{{ if isset .Site.Params "services" }}
{{ if .Site.Params.services.enable }}
{{ if gt (len .Site.Data.services) 0 }}
<section class="bar background-white" id="services">
    <div class="container">
      <div class="heading text-center">
          <h2>{{ .Site.Params.services.title }}</h2>
      </div>

      <p class="lead">
        {{ .Site.Params.services.subtitle }}
      </p>
        {{ range $index, $element := sort .Site.Data.services "weight" }}
		{{ if eq (mod $index 3) 0 }}
		<div class="col-md-12">
            <div class="row">
		{{ end }}


				<div class="col-md-4">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="{{ .icon }}"></i>
                        </div>
                        <h3>{{ $element.name }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.services) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
