<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Logo</h5>
				<p class="grey-text text-lighten-4">Somos una compañía de servicios tecnologicos que construye soluciones a la medida, logrando rentabilizar sus inversiones en tecnología.</p>
				<p class="grey-text text-lighten-4"><i class="fa fa-map-pin"></i> Bogota/Colombia</p>
				<p class="grey-text text-lighten-4"><i class="fa fa-phone"></i> Phone (Colombia): +57-XXXXX</p>
				<p class="grey-text text-lighten-4"><i class="fa fa-envelope"></i> E-mail: info@stackplus.co</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h6 class="white-text"">Portafolio</h6>
				<ul class="grey-text text-lighten-3">
					{% for id, item in bag('menu').items() %}
						<li {% if this.is_child_of(item.path) or (item.alt_path and this.is_child_of(item.alt_path)) %} class="active" {% endif %}>
							<a href="{{ item.path|url }}">{{ item.label }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<!-- <div class="col-md-3 col-sm-6 paddingtop-bottom">
				<h6 class="heading7">Blog</h6>
				<div class="footer-post">
					<p>Post1 <span>August 3,2015</span></p>
					<p>Post2 <span>August 3,2015</span></p>
					<p>Post3 <span>August 3,2015</span></p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 paddingtop-bottom">
				<h6 class="heading7">News</h6>
				<div class="footer-post">
					<p>News1 <span>2017</span></p>
					<p>News2 <span>2017</span></p>
					<p>News3 <span>2017</span></p>
				</div>
			</div> -->
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017 - All Rights with StackPlus Networks SAS
			<a class="grey-text text-lighten-4 right" href="{{ site.baseurl }}/">Home</a>
		</div>
	</div>
</footer>