<title>
  {% if maintenance == "yes" %}
    Site Maintenance
  {% elif this.active != "index" %}
    {{ this.title }} | StackPlus Networks
  {% else %}
    {{ this.title }}
  {% endif %}
    </title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/favicon.png">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,900' rel='stylesheet' type='text/css'>

	<!-- Font Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- FontAwesome CSS -->
	<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
{#
	<!-- Magnific-Popup -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">

	<!-- FlexSlider -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/flexslider.min.css" rel="stylesheet">

	<!-- Materialize CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet">

	<!-- ShortCodes -->
	<link href="{{ site.baseurl }}/assets/css/shortcodes/shortcodes.css" rel="stylesheet">

	<!-- Style CSS -->
	<link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

	<!-- Corporate CSS -->
	<link href="{{ site.baseurl }}/assets/css/corporate.css" rel="stylesheet">

	<!-- Main CSS -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
#}
  <!-- Pure CSS -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
